/node_modules
/public/hot
/public/upload
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
.htaccess
index.html
.idea
composer.lock
error_log
public/error_log
public/arkan-989a0-firebase-adminsdk-zce83-16ad5475ca.json
/public/*firebase-adminsdk*.json
