/node_modules
/public/hot
/public/hot
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/public/storage
/storage/*.key
.env
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/assets/images
storage/bdinar-331ad-firebase-adminsdk-ku17n-f8368faa78.json

# Biometric test temporary files
/private.pem
/public.pem
/nonce.txt
/signature.bin
/signature.b64
/signature.txt
/nonce.b64