.slider-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    /*padding-bottom: 50px; !* space for dots *!*/
}

.slider-main {
    width: 100%;
    direction: ltr;
    height: 600px;
    position: relative;
}
.slider-ad,.slider-ad3,.slider-ad4,.slider-ad5,.slider-ad6,.slider-ad7,.slider-ad8,.slider-ad9,.slider-ad10 {
    width: 100%;
    direction: ltr;
    height: 350px;
    position: relative;
}
.slider-ad .slick-list,
.slider-ad3 .slick-list,
.slider-ad4 .slick-list,
.slider-ad5 .slick-list,
.slider-ad6 .slick-list,
.slider-ad7 .slick-list,
.slider-ad8 .slick-list,
.slider-ad9 .slick-list,
.slider-ad10 .slick-list,
.slider-main .slick-list{
    height: 100%;
    width: 100%;
}
.slider-main  a,
.slider-ad  a,
.slider-ad3  a,
.slider-ad4  a,
.slider-ad5  a,
.slider-ad6  a,
.slider-ad7  a,
.slider-ad8  a,
.slider-ad9  a,
.slider-ad10  a
{
    width: 100%;
    height: 100%;
}
.slider-main a img,
.slider-ad a img,.slider-ad  img,
.slider-ad3 a img,.slider-ad3  img,
.slider-ad4 a img,.slider-ad4  img,
.slider-ad5 a img,.slider-ad5  img,
.slider-ad6 a img,.slider-ad6  img,
.slider-ad7 a img,.slider-ad7  img,
.slider-ad8 a img,.slider-ad8  img,
.slider-ad9 a img,.slider-ad9  img,
.slider-ad10 a img,.slider-ad10  img
{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: inherit;
}
.slider-main .slick-track,
.slider-ad .slick-track,
.slider-ad3 .slick-track,
.slider-ad4 .slick-track,
.slider-ad5 .slick-track,
.slider-ad6 .slick-track,
.slider-ad7 .slick-track,
.slider-ad8 .slick-track,
.slider-ad9 .slick-track,
.slider-ad10 .slick-track
{
    height: 100% !important;
    display: flex !important;
}
.slider-main .slick-slide,
.slider-ad .slick-slide,
.slider-ad3 .slick-slide,
.slider-ad4 .slick-slide,
.slider-ad5 .slick-slide,
.slider-ad6 .slick-slide,
.slider-ad7 .slick-slide,
.slider-ad8 .slick-slide,
.slider-ad9 .slick-slide,
.slider-ad10 .slick-slide

{
    width: 100% ;
    height: 100% !important;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: black;
    opacity: 0.4;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: black;
}

.slider div a img:hover,.slider-main div a img:hover,.slider-ad div a img:hover,
.slider-ad3 div a img:hover,.slider-ad4 div a img:hover,.slider-ad5 div a img:hover,
.slider-ad6 div a img:hover,.slider-ad7 div a img:hover,.slider-ad8 div a img:hover,
.slider-ad9 div a img:hover,.slider-ad10 div a img:hover,.ad_div img:hover,
.ad_div .trend_img_link img:hover,.brand_div a img:hover,.brand img:hover,.brand .brand-img:hover,
.categ-inner a img:hover,.categ-inner .img_link img:hover, .brand-cover img:hover,header img:hover,
.logo img:hover
{
    transform: none !important;
    scale: 1 !important;
    transition: none !important;
}
.ad_div img{
    height: 100%;
    max-height: 100%;
    object-fit: fill;
    width: 100%;
    max-width: 100%;
}
.ad_div .trend_img_link{
    height: 90%;
    max-height: 90%;
    object-fit: fill;
    width: 100%;
    max-width: 100%;
}
.ad_div .trend_name{
    height: 10%;
    max-height: 10%;
    text-align: center;
}
.ad_div .trend_img_link img{
    height: 100%;
    max-height: 100%;
    width: 90%;
    max-width: 90%;
}
.owl-carousel{
    direction: ltr;
}

.brand_div{
    height: 150px;
}
.brand_div a,.brand_div a img{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;

}

.product_price{
    height: 8vh;
    max-height: 8vh;

}

.new_product .overflow-hidden a{
    width: 100%;
    max-width: 100%;
}
.owl-recommended-products img,
.owl-new-products img ,
.owl-product-images img{
    width: 100%;
    max-width: 100%;
    object-fit: fill !important;
}
.categ-inner{
    height: 216px;
    min-height: 216px;
    max-height: 216px;
}
.categ-inner a ,.categ-inner img{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.text-line-through{
    text-decoration: line-through;
}
.badge{
    width: fit-content;
    padding:0.3rem;
    border-radius: 5%;
}
.badge-danger{
    background:  #ff0202;
    color: #ffffff;
}
.text-danger{
    color: #ff0202;
}
.product-img{
    height: 500px;
    min-height: 500px;
    max-height: 500px;
}
a,button{
    cursor: pointer;
}
.product-img img{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.quantity-cart{
    border: 1px solid #c1c0bb;
    border-radius: 15px;
    width: 120px;
    height: 35px;
    display: flex;
}
.quantity-input-cart::-webkit-inner-spin-button,
.quantity-input-cart::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantity-cart a{
    width: 10%;
    margin: auto;
}
/* Firefox */
.quantity-input-cart {
    -moz-appearance: textfield;
    border: none;
    outline: none;
    background-color: transparent; /* Optional */
    box-shadow: none;
    text-align: center;
    width: 80%;
}
.brand-img{
    height: 115px;
    min-height: 115px;
    max-height: 115px;
}
.brand-img{
    height: 220px;
    min-height: 220px;
    max-height: 220px;
    object-fit: contain;
    width: 100%;
    max-width: 100%;

}

/*.owl-carousel i{*/
/*    display: none !important;*/
/*}*/
.font-weight-bold{
    font-weight: bold;
}
.sec-title1sec-title1 span{
    display: inline-flex;
}
.cart-overlay,.cart-inner{
    height: 100%;
    max-height: 100%;
}
.cart-top{
    height: 10%;
    max-height: 10%;
}
.mobile-footer .tab i,.mobile-footer .tab p{
    font-size: 1.3rem !important;
}
.details-top p {
    /* font-size: 20px; */
    color: #000000 !important;
}
.pointer{
    cursor: pointer;
}
.image-wrapper {
    position: relative;
}

.soldout-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(30 29 29 / 70%);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
}
.sold_out{
    background: rgba(180, 180, 180, 0.7);
    color: white;
}
svg{
    cursor:pointer;
}
/* الوضع العادي (إنجليزي LTR) */
body[dir="ltr"] .dropdown-category {
    left: 0;
    right: auto;
}

/* الوضع العربي (RTL) */
body[dir="rtl"] .dropdown-category {
    right: 0;
    left: auto;
}
@media screen and (max-width: 576px) {
    .slider-main,.slider-ad {
        height: 200px;
    }
    .ad_div{
        height: 200px;
    }
    .owl-recommended-products .mx-5,
    .owl-new-products .mx-5{
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .product_title {

        height: 15vh;
        max-height: 15vh;
        min-height: 15vh;

    }
    .contact-social{
        justify-content: center;
        margin-bottom: 2rem;
    }
    .owl-carousel i{
        display: none !important;
    }
    #content{
        min-height: 800px;
    }
    .brand-img {
        height: 150px;
        min-height: 150px;
        max-height: 150px;
        object-fit: fill;
        width: 100%;
        max-width: 100%;
    }
    .bestProduct-parent img, .recommendedProducts img, .shaving img, .new_product img {
        height: 185px;
    }
    .product_actions {
        margin-top: 1rem !important;
    }
    .category-header{
        display: none;
    }
    footer{
        padding-top: 1rem !important;
        padding-bottom: 3rem !important;
    }
    .footer-payment{
        display: flex;
        justify-content: center;
    }
   /*  #add_cart{
        width: fit-content;
    } */
    .search_item_img{
        width: 100%; 
        height: 95px; 
        object-fit: fill;
    }
     .search-inner.active {
      top: 20%;
   
    }
    .buy-now-container{
        width: 40%;
    }
    .fav-share-container{
        width: 80%;
    }
    .contact a i{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 576px) {
    .ad_div{
        height: 400px;
    }
    #content{
        min-height: 600px;
    }
   .brand-card svg{
        width: 30px !important;
        height: 29px !important;
    }
    .brand-card .btn,
    button {
        width: 80%;
        /*padding: 10px 10px !important;*/
    }
    footer{
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
     #add_cart{
        width: 100%;
    }
    .search_item_img{
        width: 100%; 
        height: 100px; 
        object-fit: fill;
    }
    .search-inner.active {
      top: 25%;
   
    }
    .open-search{
        display: none;
    }
    .buy-now-container{
        width: 30%;
    }
    .fav-share-container{
        width: 63%;
    }
    .contact a i{
        font-size: 1.3rem;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .product_title{
        height: 20vh !important;
        max-height: 20vh !important;

    }
    .product_price {
        height: 10vh !important;
        max-height: 10vh !important;
    }
    .search-inner.active {
      top: 28%;
   
    }

}
@media screen and (max-width: 1500px) {
    header .nav a {
        padding: 6px 7px;
    }

}
@media screen and (min-width: 1500px) {
    #content{
        min-height: 1000px;
    }
    .cart-product{
        height: 70%;
        max-height: 70%;
    }
    .cart-total, .cart-buttons {
        height: 5%;
        max-height: 5%;
    }
    .brand-img {
        height: 280px;
        min-height: 280px;
        max-height: 280px;
    }
    .product_title {

        height: 14vh !important;
        max-height: 14vh !important;
    }
     .search-inner.active {
      top: 16%;
   
    }
    .contact a i{
        font-size: 1.5rem;
    }
     header .nav a {
        padding: 6px 14px;
    }

}
